#wrapper {
	width: 100%;
	height: 100%;
	background-color: rgba(64,189,194,1);
	overflow: hidden;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#title {
	left: 237px;
	top: 271px;
	position: absolute;
	overflow: visible;
	width: 1447px;
	white-space: nowrap;
	text-align: center;
	font-family: Hiragino Kaku Gothic ProN;
	font-style: normal;
	font-weight: normal;
	font-size: 140px;
	color: rgba(255,255,255,1);
}
#detail {
	left: 717px;
	top: 756px;
	position: absolute;
	overflow: visible;
	width: 487px;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#copyright {
	left: 813px;
	top: 1000px;
	position: absolute;
	overflow: visible;
	width: 295px;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}