body{
	background-color: rgba(64,189,194,1);
}
#title {
	position: absolute;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 1447px;
	white-space: nowrap;
	text-align: center;
	font-family: Hiragino Kaku Gothic ProN;
	font-style: normal;
	font-weight: normal;
	font-size: 140px;
	color: rgba(255,255,255,1);
}
#detail {
	position:absolute;
	left: 500px;
	top: 550px;
	position: absolute;
	overflow: visible;
	width: 487px;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#copyright {
	position: absolute;
	left: 600px;
	top: 800px;
	position: absolute;
	overflow: visible;
	width: 295px;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}