body{
	background-color: rgba(64,189,194,1);
}
#title {
	position: absolute;
	width: 99%;
	top: 13%;
	overflow: visible;
	white-space: nowrap;
	color: rgba(255,255,255,1);
}
#title > p {
	width: 99%;
	text-align: center;
	font-family: Hiragino Kaku Gothic ProN;
	font-style: normal;
	font-weight: normal;
	font-size: 120px;
}
#detail {
	position: absolute;
	top: 70%;
	width: 99%;
	overflow: visible;
	white-space: nowrap;
	color: rgba(255,255,255,1);
}
#detail > p{
	margin-top: 10px;
	width: 99%;
	text-align: center;
	font-family: Hiragino Kaku Gothic ProN;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
}
#copyright {
	overflow: visible;
	width: 99%;
	white-space: nowrap;
	color: rgba(255,255,255,1);
	position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}
#copyright > p {
	width: 99%;
	text-align: center;
	font-family: Hiragino Kaku Gothic ProN;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
}
p {
	margin: 0%;
	border: 0ch;
	padding: 0%;
}